:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: var(--pale-blue);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-container {
    width: 90%;
    max-width: 342px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 14px 14px hsl(247, 20%, 83%);
}

.card-container .card-ilustration {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 24px;
}

.card-container .card-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: var(--dark-blue);
    margin-bottom: 16px;
}

.card-container .card-paragraph {
    text-align: center;
    max-width: 278px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    margin: 0 auto;
    color: #a5a9bb;
}

.card-container .plan {
    background-color: var(--very-pale-blue);
    width: 85%;
    margin: 16px auto;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.card-container .plan .plan-description {
    flex-grow: 1;
    padding-left: 16px;
}

.card-container .plan .plan-description p:nth-child(1) {
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--dark-blue);
    margin-bottom: 4px;
}

.card-container .plan .plan-description p:nth-child(2) {
    font-size: 1.4rem;
    font-weight: 500;
    color: #a5a9bb;
}

.card-container .plan .plan-change {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--bright-blue);
}

.card-container .plan .plan-change:hover {
    color: var(--desaturated-blue);
    text-decoration: none;
}

.card-primary-button {
    display: block;
    width: 85%;
    height: 38px;
    margin: 0 auto;
    border: none;
    background-color: var(--bright-blue);
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 12px;
    box-shadow: 0px 14px 14px hsl(247, 20%, 83%);
    cursor: pointer;
    outline: none;
}

.card-primary-button:hover {
    background-color: var(--desaturated-blue);
}

.card-secundary-button {
    display: block;
    width: 85%;
    height: 38px;
    margin: 16px auto;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #a5a9bb;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.card-secundary-button:hover {
    color: var(--dark-blue);
}

.attribution {
    display: none;   
}